@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column-end {
  flex: 50%;
  align-content: right;
}

body
{
    background: #FFFDFD;
    margin: 0;
    font: 1.2rem "Fira Sans", sans-serif;
}

.header-style
{
    border: 4px;
    background-color: #9ED6A7;
    border-color: #9ED6A7;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 98%;
    flex: 0;
    flex-direction: row;
    padding: 1%;
    align-content: center;
    vertical-align: center;
    box-align: center;
    align-items: center;
    align-self: center;
    align-tracks: center;
    text-align-last: right;
}

.header-style p
{
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px 16px;
  text-decoration: underline;
  font-size: 120%;
}

.header-style img
{
    box-align: auto;
    vertical-align: center;
    height: 60px;
}

.content
{
    margin: 8px;
}

a
{
    color: #5031FF;
}

input
{
    margin: 8px 0;
    border-radius: 4px;
}

input:focus
{
    border-color: Lightgrey;
    border-radius: 5px;
}


input[type=text]
{
    padding: 8px 4px;
    border-radius: 8px;
}

input[type=text]:focus
{
    padding: 8px 4px;
    border-radius: 8px;
}
